<p>Olá, meu nome é {{nome}}, tenho {{idade}} anos e curso {{curso}} </p>

<p>Produto: {{produto}}</p>
<p>Preço: {{preco | currency: 'BRL'}}</p>
<p>Quantidade: {{quantidade}}</p>

<p>Total: {{preco * quantidade | currency: 'BRL'}}</p>

<img [src]="imagemProduto" [alt]="descricaoImagem">

<button [disabled]="formularioValido">Enviar </button>
<br>
<button (click)="curtir()">Curtir</button>

<p>Curtidas: {{curtidas}}</p>

<p>Quantidade: {{quantidadeContador}}</p>
<button (click)="diminuir()" [disabled]="quantidadeContador === 0">Diminuir quantidade</button>
<br>
<button (click)="aumentar()">Aumentar quantidade</button>
<br>
<input [(ngModel)]="nomeTempoReal">
<p>Olá {{nomeTempoReal}}!</p>

<br>

<input type="text" [(ngModel)]="produtoCadastro"> <input type="number" [(ngModel)]="precoCadastro"> <input type="number"
    [(ngModel)]="quantidadeCadastro">
<p>Produto: {{produtoCadastro}}</p>
<p>Preço: {{precoCadastro | currency: 'BRL'}}</p>
<p>Quantidade: {{quantidadeCadastro}}</p>
<p>Total: {{ precoCadastro * quantidadeCadastro | currency:'BRL' }}</p>

<br>

<input type="text" [(ngModel)]="nomeProdutoEstoque">
<br>
<p>Produto: {{nomeProdutoEstoque}}</p>
<p>Estoque: {{estoque}}</p>

<button (click)="aumentarEstoque()">Aumentar produto estoque</button>
<br>
<button (click)="diminuirEstoque()" [disabled]="estoque === 0">Diminuir produto estoque</button>

<br>

<p>Usuário: <input type="text" [(ngModel)]="usuario"></p>
<p>Senha: <input type="password" [(ngModel)]="senha"></p>
<br>


<button (click)="entrar()" [disabled]="usuario === '' || senha === ''">Login</button>

<p>{{mensagemLogin}}</p>

<br><br>

<p>Produto escolhido: {{produtoCarrinho}}</p>
<br>
<p>Preço carrinho: {{precoCarrinho | currency: 'BRL'}}</p>
<br>
<p>Quantidade: {{quantidadeCarrinho}}</p>
<button (click)="aumentarQuantidadeCarrinho()">Aumentar</button> <br>
<button (click)="diminuirQuantidadeCarrinho()" [disabled]="quantidadeCarrinho === 1">Diminuir</button>
<br>

<button (click)="adicionarCarrinho()">Adicionar ao carrinho</button>

<p>{{mensagemCarrinho}}</p>
<p>Total carrinho: {{precoCarrinho * quantidadeCarrinho | currency: 'BRL'}}</p>

<br>

<p>Nome do Aluno: <input type="text" [(ngModel)]="nomeAluno"></p>

<p>Aluno: {{nomeAluno}}</p>
<p>Quantidade de disciplinas: {{quantidadeDisciplinas}}</p>

<button (click)="aumentarDisciplinas()">Aumentar disciplinas</button> <br>
<button (click)="diminuirDisciplinas()" [disabled]="quantidadeDisciplinas === 1">Diminuir</button>
<br>
<button (click)="realizarMatricula()" [disabled]="nomeAluno === ''">Realizar matrícula</button>
<p>{{mensagemMatricula}}</p>

<br>
<hr>

<h2>Exercício 1</h2>

<button (click)="alternarMensagem()">
    Mostrar ou ocultar mensagem
</button>

<p *ngIf="mensagemVisivel">
    Bem-vindo ao sistema
</p>

<br>

<h2>Exercício 2</h2>

<p *ngIf="usuarioLogado; else naoAutorizado">
    Usuário autenticado
</p>

<ng-template #naoAutorizado>
    <p>Acesso não autorizado</p>
</ng-template>

<button (click)="alternarLogin()">
    {{ usuarioLogado ? 'Sair' : 'Entrar' }}
</button>

<br>
<br>
<h2>Exercício 3</h2>

<p>Idade: {{ idadeDiretiva }}</p>

<p *ngIf="idadeDiretiva < 12">Criança</p>

<p *ngIf="idadeDiretiva >= 12 && idadeDiretiva <= 17">
    Adolescente
</p>

<p *ngIf="idadeDiretiva >= 18 && idadeDiretiva <= 59">
    Adulto
</p>

<p *ngIf="idadeDiretiva >= 60">Idoso</p>

<button (click)="diminuirIdade()" [disabled]="idadeDiretiva === 0">
    -
</button>

<button (click)="aumentarIdade()">+</button>

<br><br>

<h2>Exercício 4</h2>

<p>Produto: {{ nomeProdutoDiretiva }}</p>
<p>Quantidade: {{ quantidadeEstoqueDiretiva }}</p>

<p *ngIf="quantidadeEstoqueDiretiva > 0">
    Produto disponível
</p>

<p *ngIf="quantidadeEstoqueDiretiva === 0">
    Produto sem estoque
</p>

<button (click)="adicionarEstoqueDiretiva()">+</button>

<button (click)="removerEstoqueDiretiva()" [disabled]="quantidadeEstoqueDiretiva === 0">
    -
</button>

<br><br>

<h2>Exercício 5</h2>

<ul>
    <li *ngFor="let nome of nomes;
            let i = index;
            let primeiro = first;
            let ultimo = last">

        {{ i + 1 }} - {{ nome }}

        <span *ngIf="primeiro"> - Primeiro da lista</span>
        <span *ngIf="ultimo"> - Último da lista</span>
    </li>
</ul>

<br><br>
<h2>Exercício 6</h2>

<p>Total de nomes: {{ nomes.length }}</p>

<ul>
    <li *ngFor="let nome of nomes">
        {{ nome }}
    </li>
</ul>

<p *ngIf="nomes.length === 0">
    Nenhum nome cadastrado
</p>

<button (click)="removerUltimoNome()" [disabled]="nomes.length === 0">
    Remover último
</button>

<button (click)="limparNomes()">
    Limpar lista
</button>

<button (click)="restaurarNomes()">
    Restaurar lista
</button>

<br><br>

<br><br>

<h2>Exercício 7</h2>

<div *ngFor="let disciplina of disciplinas; let par = even; let impar = odd; let primeiro = first; let ultimo = last"
    [ngClass]="{
    'linha-par': par,
    'linha-impar': impar,
    'primeiro-item': primeiro,
    'ultimo-item': ultimo
  }">
    {{ disciplina }}
</div>

<br><br>

<h2>Exercício 8</h2>

<div *ngFor="let produto of produtosDiretiva; let i = index">

    <p>Posição: {{ i + 1 }}</p>
    <p>Produto: {{ produto.nome }}</p>
    <p>Preço: {{ produto.preco | currency:'BRL' }}</p>
    <p>Quantidade: {{ produto.quantidade }}</p>
    <p>
        Valor total em estoque:
        {{ produto.preco * produto.quantidade | currency:'BRL' }}
    </p>

    <hr>

</div>

<br><br>

<h2>Exercício 9</h2>

<div *ngFor="let produto of produtosDiretiva">

    <p [ngClass]="{
      'sem-estoque': produto.quantidade === 0,
      'estoque-baixo': produto.quantidade >= 1 && produto.quantidade <= 5,
      'estoque-disponivel': produto.quantidade > 5
    }">
        {{ produto.nome }} -

        <span *ngIf="produto.quantidade === 0">
            Sem estoque
        </span>

        <span *ngIf="produto.quantidade >= 1 && produto.quantidade <= 5">
            Estoque baixo
        </span>

        <span *ngIf="produto.quantidade > 5">
            Estoque disponível
        </span>

    </p>

</div>

<br><br>

<h2>Exercício 10</h2>

<div *ngFor="let produto of produtosDiretiva">

    <p [ngStyle]="{
      'font-weight': produto.promocao ? 'bold' : 'normal'
    }">
        Produto: {{ produto.nome }}
    </p>

    <p [ngStyle]="{
      'color': produto.promocao ? 'red' : 'black'
    }">
        Preço: {{ produto.preco | currency:'BRL' }}
    </p>

    <p *ngIf="produto.promocao">
        Produto em promoção!
    </p>

    <button (click)="alternarPromocao(produto)">
        {{ produto.promocao ? 'Desativar promoção' : 'Ativar promoção' }}
    </button>

    <hr>

</div>

<br><br>

<h2>Exercício 11</h2>

<label>
    <input type="checkbox" [(ngModel)]="somenteDisponiveis">
    Mostrar somente produtos disponíveis
</label>

<br><br>

<ng-container *ngFor="let produto of produtosDiretiva">

    <div *ngIf="!somenteDisponiveis || produto.quantidade > 0">

        <p>Produto: {{ produto.nome }}</p>
        <p>Quantidade: {{ produto.quantidade }}</p>

        <hr>

    </div>

</ng-container>